@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
body{
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: #387478;
  font-family: "Dancing Script", cursive;
  font-size: larger;
  color: whitesmoke;
}